@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Roboto:wght@300&display=swap');
*{
     margin: 0;
     padding: 0;
 }

 body{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .container-body{
     background-image: url(/image/certificate-design.png
     );
     background-repeat: no-repeat;
     height: 80vh;
     width: 70%;
     border: 1px solid #cccccc76;

 }
 .seal{
     width: 180px ;
     margin-top:  80px;
     
 }
.main-container{
        position: relative;
        top: 15rem;
}
.container-content {
        display: flex;
        justify-content: center;
        align-items: center;
}
.up{
    margin-top: -10rem;
    margin-left: 66px;
}

.right {
     text-align: left;
     margin-left: -12rem;
     margin-top: 80px;
 }

h1{
    font-family: 'Graduate', cursive;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: #25517d;
     /* margin-left: 66px; */
}
h2{
    font-family: 'Roboto', sans-serif;
    color: #25517d;
    font-size: 1.5rem;
     margin-left: 241px;
}

h3{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #cfdee5;
}

h5{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: -76px;
}
h4{
   font-family: 'Roboto', sans-serif;
   font-size: 50px;
   color: #25517d;
   margin-top: 25px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: black;
    margin-left: 1rem;
}

 .sign{
   font-family: 'Sacramento', cursive; 
    font-size: 40px;
    color: #1d4a72;
}
.first-last-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 1rem;
}

.Signture, .date{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:  4rem;
    margin-left:  1rem;
}
.section-hr{
   width: 7rem;
}
h6{
 font-family: 'Roboto', sans-serif;;
}
